#block {
  width: 100px;
  height: 100px;
  background-color: red;
}

.green {
  width: 200px;
  height: 60px;
  background-color: green;
  border: 2px solid blue;
  font-family: 'Times New Roman';
  font-size: 20px;
  text-align: center;
}

.green > div {
  font-weight: bold;
  font-style: italic;
}