html, body {
  margin: 0;
  padding: 0;
  background-image: url(../images/background.png);
  border-top: 2px solid #7e7e7e;
}

.container {
  width: 960px;
  margin: 0 auto;
  height: 800px;
}

/* HEADER */

header > .top {
  padding-top: 25px;
}

header > .top > .search {
  float: right;
  padding: 0;
  padding-top: 2px;
  position: relative;
  width: 199px;
}

header > .top > .search > input[type="text"] {
  background-color: #f3f3f3;
  border: 0;
  outline: 1px solid #e7e7e7;
  padding: 0;
  padding-left: 10px;
  margin: 0;
  width: 147px;
  height: 30px;
  font-family: 'Tahoma', sans-serif;
  color: #b2b2b2;
}

header > .top > .search > button {
  padding: 0;
  margin: 0;
  width: 42px;
  height: 32px;
  background-color: #29c5e6;
  color: #fff;
  border: 0;
  position: absolute;
  top: 1px;
  font-family: 'Oswald', sans-serif;
  font-size: 14px;
}

header > .bottom {
  background-color: #f3f3f3;
  margin-top: 20px;
}

header > .bottom > ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  height: 40px;
}

header > .bottom > ul > li {
  height: 40px;
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
}

header > .bottom > ul > li:last-child {
  border-right: 1px solid #e7e7e7;
}

header > .bottom > ul > li > a {
  display: block;
  width: 120px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #b2b2b2;
  font-family: 'Oswald', sans-serif;
  font-size: 15px;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  text-decoration: none;
}

header > .bottom > ul > li.active {
  border-top: 1px solid #29c5e6;
  border-bottom: 1px solid #29c5e6;
}

header > .bottom > ul > li.active > a {
  background-color: #29c5e6;
  color: #fff;
}

/* BANNER */

section.banner { 
  margin-top: 30px;
}

section.banner > .banner-display {
  height: 252px;
  background-color: #e2e2e2;
  padding: 27px 0 0 37px;
}

section.banner > .banner-display > h1 {
  margin: 0;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 42px;
  color: #5a5a5a;
  letter-spacing: -0.08px;
}

section.banner > .banner-display > p {
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  font-size: 20px;
  color: #acacac;
  margin: -4px 0 0 3px;
}

section.banner > .banner-navigation {
  background-color: #f3f3f3;
  height: 50px;
  -webkit-box-shadow: 1px 2px 0px 0px rgba(231,231,231,1);
  -moz-box-shadow: 1px 2px 0px 0px rgba(231,231,231,1);
  box-shadow: 1px 2px 0px 0px rgba(231,231,231,1);
}

section.banner > .banner-navigation > ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  counter-reset: section;
}

section.banner > .banner-navigation > ul > li {
  width: 240px;
  height: 50px;
  line-height: 50px;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  color: #8f8f8f;
  letter-spacing: 1px;
}

section.banner > .banner-navigation > ul > li::before {
  counter-increment: section;
  content: counter(section);
  display: block;
  width: 24px;
  height: 24px;
  background-color: #8f8f8f;
  float: left;
  margin-right: 11px;
  margin-left: 12px;
  margin-top: 13px;
  color: #f8f8f8;
  line-height: 24px;
  text-align: center;
}

section.banner > .banner-navigation > ul > li.active {
  color: #29c5e6;
}

section.banner > .banner-navigation > ul > li.active::before {
  background-color: #29c5e6;
}

/* MAIN */
section.main {
  margin-top: 30px;
}

section.main .title {
  background-image: url(../images/pattern.png);
}

section.main .title > h1 {
  color: #7e7e7e;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  font-size: 14px;
  background-image: url(../images/background.png);
  display: inline-block;
  margin: 0;
}

section.main .title > h1::before {
  content: '';
  display: block;
  width: 15px;
  height: 15px;
  background-color: #29c5e6;
  float: left;
  margin-top: 2px;
  margin-right: 5px;
}

section.main .title > h1::after {
  content: '\00a0\00a0\00a0';
}

section.main > .col-1 {
  display: flex;
  justify-content: space-around;
  height: 300px;
}

section.main > .col-1 > .about,
section.main > .col-1 > .ceo {
  width: 460px;
}

section.main > .col-2 {
  display: flex;
  justify-content: space-around;
  height: 300px;
}

section.main > .col-2 > .services,
section.main > .col-2 > .teams,
section.main > .col-2 > .support {
  width: 300px;
}

section.main > .col-3 {
  display: flex;
  justify-content: space-around;
  height: 300px;
}

section.main > .col-3 > .clients {
  width: 940px;
}
